/* google font roboto */

/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap');*/
@font-face {
    font-family: "ticketing";
    src: url("fonts/Ticketing.ttf");
}

/*html, body {
    background-color: #212121;
} */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'ticketing';
}

a {
    text-decoration: none;
}

.menuSection {
    width: 100%;
    height: 40px;
    background: transparent;
    box-shadow: 0 1px 0px #fff;
}

header {
    height: 100%;
    width: 100%;
}

nav {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

#nav-title {
    font-size: 1.5rem;
    cursor: pointer;
    text-shadow: 1px 4px 2px #c8d5c6;
    text-decoration: none;
}

nav>a {
    text-decoration: none;
    color: rgb(102, 187, 106);
}

section.hero {
    width: 100%;
    height: inherit;
    position: relative;
    padding-top: 20px;
    margin-top: 20px;
}

.newRandomBtn {
    width: 250px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    right: 150px;
    top: 80px;
}

.newRandomBtn>button {
    width: 90px;
    height: 35px;
    outline: none;
    cursor: pointer;
}

.addNew {
    background: #66BB6A;
    border: 1px solid #fff;
    color: #fff;
}

.next {
    background: #66BB6A;
    border: 1px solid #fff;
    color: #fff;
}

.randomBtn {
    background: #fff;
    border: 1px solid #66BB6A;
    color: #66BB6A;
}

.contents {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    color: #000;
    border: 1px solid #66BB6A;
    border-radius: 10px;
}

.projectDescription {
    padding-top: 15px;
    color: black;
}

.contents h2 {
    letter-spacing: 5px;
    font-style: bold;
    text-transform: uppercase;
    font-size: 25px;
}

.contents p {
    font-size: 20px;
}

.level {
    padding: 5px 10px;
    background: #66BB6A;
    color: #fff;
    border-radius: 30px;
}

.contentsContainer {
    display: block;
    margin-bottom: 10px;
    width: 40%;
    height: 200px;
    margin: 50px auto;
}

.projectContainer {
    height: auto;
}

footer {
    width: 100%;
    height: 30px;
    background: #C8E6C9;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>p {
    text-align: center;
    color: rgb(66, 63, 63);
}

.popupcontainer {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    background: rgba(243, 240, 240, .4);
    backdrop-filter: blur(2px);
    display: none;
}

.popup {
    height: 100vh;
    width: 100%;
    position: relative;
}

.popupContent {
    width: 50%;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.popupContent>form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.popupContent>form>div {
    height: 70px;
    width: 200px;
    text-align: left;
}

.popupContent>form>button {
    margin-top: 50px;
    width: 70px;
    height: 35px;
    outline: none;
    background: #66BB6A;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

input, textarea {
    width: 250px;
}

textarea {
    resize: none;
    height: 80px;
    outline: none;
    padding: 0px 10px;
}

#name,
#email,
#github {
    height: 30px;
    padding: 0px 10px;
    outline: none;
}

.cross {
    position: absolute;
    top: 70px;
    right: -130px;
    transform: rotate(45deg);
    cursor: pointer;
}

.cross>span {
    font-size: 2rem;
}

.cross>span:hover {
    color: #66BB6A;
}

#projectPageHero {
    height: 84vh;
    width: 100%;
    position: relative;
    padding-top: 20px;
    margin-top: 20px;
}