<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Use this site to get inspired for you next programming project! Search the feed for new coding ideas, create new ideas for other or get a random coding idea. Start your next programming project!">
    <title>CodingIdeas</title>

    <!-- font awsome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='responsive.css') }}"> 
</head>

<body>
    <!-- menu section  -->
    <section class="menuSection">
        <header>
            <nav>
                <a href="/"><h3 id="nav-title">CodingIdeas</h3></a>
                <a href="https://github.com/Bmbus/CodingIdeas"><i class="fab fa-github"></i></a>
            </nav>
        </header>

    </section>

    <!-- main section of all content -->
    <section class="hero">
        <div class="newRandomBtn">
            <button class="addNew">New</button>
            <button class="randomBtn" onClick="randomProject()">Random</button>
        </div>
        <div class="popupcontainer">
            <div class="popup">
                <div class="popupContent">

                    <form action="{{url_for('project_create')}}" method="post">
                        <div class="cross">
                            <span>+</span>
                        </div>
                        <div>
                            <label for="name">Your Name*</label>
                            <input type="text" id="name" placeholder="Enter your name" name="projectName" required>
                        </div>
                        <div>
                            <label for="email">Email</label><br>
                            <input type="email" id="email" placeholder="example@mail.com" name="projectEmail">
                        </div>
                        <div>
                            <label for="github">Github url</label>
                            <input type="url" id="github" placeholder="www.github.com" name="projectUrl">
                        </div>
                        <div>
                            <label for="level">Level*</label><br>
                            <select id="level" name="dropdown">
                                <option value="beginner">Beginner</option>
                                <option value="experienced">Experienced</option>
                                <option value="pro">Pro</option>
                            </select>
                        </div>
                        <div>
                            <label for="description">Idea descritpion*</label><br>
                            <textarea maxlength="500" placeholder="Description" name="projectDescription" id="description" required></textarea>
                        </div>
                        <button>
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- content -->
        {% for project in projects%}
        <a class="contentsContainer" href="/project/{{project.id}}/{{project.title}}">
            <div class="contents">
                <h2>{{project.title}}</h2>
                <span class="level">{{project.level}}</span>
                <p>
                    {{project.description[0:100]}}
                </p>
                <span>...</span>
            </div>
        </a>
        {% endfor %}
    </section>


    <!-- footer -->
    <footer>
        <p>@copywrite by CodingIdeas</p>
    </footer>
    <script src="{{url_for('static', filename='app.js')}}"></script>
    <script>
        async function randomProject() {
            let response = await fetch("/project/random")
            let data = await response.json()
            return window.location.replace(`/project/${data['id']}/${data['title']}`)
        }
    </script>
</body>

</html>