<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='responsive.css') }}">
    <script src="https://kit.fontawesome.com/4d103c5d05.js" crossorigin="anonymous"></script>
    <title>CodingIdeas</title>
</head>
<body>
    <main>
        <header>
            <nav class="navcontainer">
                <a href="/"><h1 id ="logo">CodingIdeas;</h1></a>
                <a href="https://github.com/Bmbus/ProjectIdeas"><i class="fab fa-github" id="githublogo"></i></a>
            </nav>
        </header>
        <section class="ultimatecontainer" id="MAIN">
            <div class="buttoncontainer">
                <button id="newbutton">New</button><br><br>
                <button id="randombutton" onClick="randomProject()">Random</button>
            </div>
        
            {% for project in projects %}
                <a href="/project/{{project.id}}/{{project.title}}">
                    <div class=centerifieddiv>
                        <div class="divcontainer">
                        <br>
                        <h1 id="divheading">{{project.title}}</h1>
                        <p id="level-label">{{project.level}}</p>
                        <p id= "divparagraph">{{project.description[0:100]}} <br>...</p>
                    </div>  
                </a>
            {% endfor %}      
            <div id="placeholder"></div>
        </section>   
        <section>

            <div class="popupcontainer">
                <div class="popupcontent">
                    <form action="{{url_for('project_create')}}" method="post">
                        <div class="close">+</div>
                        <input type="text" required placeholder="Enter your name" name="projectName">
                        <input type="email" required placeholder="Enter your Email" name="projectEmail">
                        <input type="url" required placeholder="Enter your Github url account" name="projectUrl">
                        <select name="dropdown">
                            <option value = "Beginner" selected>Beginner</option>
                            <option value = "Experienced">Experienced</option>
                            <option value = "Pro">Pro</option>
                        </select><br>
                        <textarea placeholder="Description (500)" name="projectDescription" maxlength="500"></textarea><br><br>
                        <button id="sbbutton">Submit</button>
                    </form>


                </div>

            </div>

        </section>



    </main>
    <script>
        async function randomProject() {
            let response = await fetch("/project/random")
            let data = await response.json()
            return window.location.replace(`http://127.0.0.1:5000/project/${data['id']}/${data['title']}`)
        }
    </script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>